.stats-wrapper,
.progress-wrapper,
.buttons-wrapper {
  margin-bottom: 1em;
  clear: both;
}

.stat-label {
  width: 250px;
  margin: 2px 0 2px 2px;
  padding: 5px;
  line-height: 20px;
}

.stat-value {
  margin: 2px 0 2px 2px;
  padding: 5px;
  text-indent: 0;
  line-height: 20px;
  background-image: none;
}

.odds {
  background-color: #eee;
}

.evens {
  background-color: #ddd;
}

.progress-box {
  background-color: rgb(0, 60, 90);
  position: relative;
  width: 100%;
}
.progress-bar {
  width: 20%;
  height: 30px;
  border: 1px solid rgb(0, 60, 90);
  background-color: rgb(0, 116, 189);
}
.progress-percentage {
  color: #fff;
  font-family: "Lucida Grande",Verdana,sans-serif;
  font-size: 1.077em;
  font-weight: bold;
  position: absolute;
  line-height: 30px;
  text-indent: 5px;
  left: 0;
  top: 0;
}
.progress-percentage:after {
  content: "%";
}


.js-time-spent:after,
.js-time-spent-sum:after {
  content: " seconds";
}

.js-items-left:after,
.js-items-skipped:after,
.js-items-processed:after {
  content: " items";
}

.js-memory-peak:after {
  content: "MB";
}

.buckets-button-add,
.buckets-button-remove {
  cursor: pointer;
  float: left;
  text-align: center;
  font-family: "Lucida Grande",Verdana,sans-serif;
  margin-right: 1em;
  margin-bottom: 1em;
  font-size: 1.077em;
  padding: 6px 10px;
  color: #fff;
}
.buckets-button-add {
  background-color: rgb(77, 143, 70);
}
.buckets-button-remove {
  background-color: rgb(183, 57, 57);
}

.buckets {
  clear: both;
  padding: 1px;
  float: left;
  background-color: rgb(153, 153, 153);
}
.bucket {
  float: left;
  width: 78px;
  height: 48px;
  font-size: 1em;
  text-align: center;
  line-height: 48px;
  margin: 1px;
  color: rgb(172, 172, 172);
  background-color: rgb(51, 51, 51);
}
.bucket:before {
  content: "#";
}

.bucket.bucket-active {
  color: rgb(255, 255, 255);
  background-color: rgb(77, 143, 70);
}
.bucket.bucket-removing {
  color: rgb(255, 255, 255);
  text-decoration: line-through;
  background-color: rgb(183, 57, 57);
}

#js-items-per-bucket-slider {
  max-width: 300px;
  margin-left: 5px;
}
